.priceWrapper {
  display: flex;
  align-items: center;
  font-size: 1em;
}

.price {
  font-size: 1.5em;
  font-weight: 600;
}

.priceBeforeSale {
  margin-left: 7px;
  color: #a0a0a0;
  text-decoration: line-through;
}
