.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  min-width: 21px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  pointer-events: none;
  font-size: 0.8125em;
}
