.container {
  display: flex;
  justify-content: center;
}
.contentWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.title {
  font-weight: 600;
  font-size: 20px;
}

.shipmentMethodsWrapper {
  margin-top: 2em;
}

.inputRadioContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &Left {
    display: flex;
    align-items: center;
  }

  &Label {
    font-weight: 500;
    margin-right: 1em;
  }
}

.shippingOption {
  margin-bottom: 1rem;
}

.datePickerWrapper {
  display: flex;
  align-items: center;
}

.bottomContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;

  .buttonBox {
    display: flex;
    align-items: center;

    button {
      width: 205px;
      margin-left: 1rem;
    }
  }
}
