.container{
  width: 100%;
  min-height: 448px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #2e2e2e, black);
  overflow: hidden;

  .contentWrapper{
    max-width: 1440px;
    min-height: 448px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  h1{
    font-size: 72px;
    font-weight: 200;
    color: white;
    margin-top: 50px;
    text-align: center;
  }
  strong{
    font-weight: 500;
  }
  .paragraph{
    font-size: 16px;
    line-height: 32px;
    width: 80%;
    text-align: center;
  }

  img{
    position: absolute;
  }
  .notebook{
    left: 5%;
    top: -2.4rem;
    transform: rotate(-5deg);
  }
  .purpleIpad{
    left: -1rem;
    top: 0;
    z-index: 5;
  }
  .blueIpad{
    left: -4rem;
    top: 11rem;
    transform: scaleX(-1);
  }
  .watch{
    right: 0rem;
    bottom: 0;
  }
  .iphone{
    right: 0;
    top: 1rem;
    transform: rotate(-30deg);
  }

  .buyNow{
    border-color: white;
    color: white;
    margin-top: 2rem;

    &:hover{
      background-color: white;
      color: black;
    }
  }
}

@media(max-width: 1040px){
  .container{
    .notebook{
      left: auto;
      top: -8.2rem;
      width: 186px;
      height: 282px;
      transform: rotate(70deg);
    }
    .purpleIpad{
      left: -2rem;
      top: -1rem;
      height: 191px;
      width: 128px;
    }
    .blueIpad{
      left: -4rem;
      top: 20rem;
      width: 147px;
      height: 302px;
    }
    .watch{
      right: -4rem;
      bottom: -6rem;
      width: 235px;
      height: 261px;
      transform: rotate(10deg);
    }
    .iphone{
      right: 0;
      top: -6rem;
      width: 110px;
      height: 315px;
      transform: rotate(-70deg);
    }
  }
}
@media(max-width: 740px){
  .container{
    h1{
      font-size: 48px;
      line-height: 72px;
      font-weight: 200;
      color: white;
    }
  }
}
@media(max-width: 500px){
  .container{
    .notebook{
      left: auto;
      top: -5rem;
      width: 86px;
      height: 182px;
      transform: rotate(70deg);
    }
    .purpleIpad{
      left: 0rem;
      top: -1.5rem;
      height: 121px;
      width: 48px;
    }
    .blueIpad{
      left: -1.2rem;
      top: 20rem;
      width: 107px;
      height: 262px;
      transform: rotate(-200deg);
    }
    .watch{
      right: -4.2rem;
      bottom: -7.2rem;
      width: 205px;
      height: 231px;
      transform: rotate(10deg);
    }
    .iphone{
      right: 0;
      top: -5rem;
      width: 80px;
      height: 245px;
      transform: rotate(-70deg);
    }
  }
}
@media(max-width: 376px){
  .container{
    padding-bottom: 50px;

    .blueIpad{
      left: -1.2rem;
      top: 23rem;
      width: 107px;
      height: 262px;
      transform: rotate(-200deg);
    }
    .watch{
      right: -4.2rem;
      bottom: -11.2rem;
      width: 205px;
      height: 231px;
      transform: rotate(10deg);
    }
  }
}