.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #ededed;
  overflow: hidden;
}
.innerContainer {
  max-width: 1440px;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
}
.leftBox {
  width: 50%;
  height: 100%;
  background-color: gray;
  display: flex;
  flex-direction: column;
}
.fourth {
  width: 50%;
  height: 100%;
  transition: all 0.5s;
  background-color: #ededed;
  position: relative;
  display: flex;

  .innerFourth {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 0;

    .fourthContent {
      transition: all 0.5s;
      margin-bottom: -2rem;
      width: 450px;
      margin-left: 56px;
    }
    h2 {
      font-size: 4em;
      font-weight: 300;
    }

    p {
      margin-top: 16px;
      max-width: 450px;
    }
    img {
      margin-top: 4rem;
    }
    button {
      margin-top: 20px;
      width: 184px;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
.fourth.fourthActive {
  width: 75%;

  button {
    opacity: 1;
  }
}
.first {
  width: 100%;
  height: 55%;
  background-color: #fff;
  transition: all 0.5s;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 30vw;
    background-color: #fff;
    transform: translateX(-100%);
  }

  .innerFirst {
    display: flex;
    position: absolute;
    align-items: center;
    top: -2.5rem;
    right: 0;
  }
  .firstImage {
    bottom: 5rem;
  }
  .firstContent {
    width: 398px;
    right: 3rem;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transition: all 0.5s;

    h2 {
      font-size: 3rem;
      font-weight: 500;
    }

    p {
      font-size: 14px;
    }
    button {
      margin-top: 20px;
      width: 184px;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
.first.firstActive {
  height: 75%;

  button {
    opacity: 1;
  }
}
.secondThirdBox {
  width: 100%;
  height: 45%;
  background-color: rgb(92, 72, 72);
  display: flex;
  transition: all 0.5s;

  &.active {
    height: 55%;
  }
}
.second {
  height: 100%;
  width: 50%;
  background-color: #ededed;
  transition: all 0.5s;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100%;
    background-color: #ededed;
    width: 300px;
  }

  .innerSecond {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;

    .secondContent {
      margin-right: 2rem;
      transition: all 0.5s;
      margin-bottom: -3rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 300;
      width: 176px;
      line-height: 40px;
    }

    p {
      width: 176px;
    }
    img {
      margin-right: 3.5rem;
      margin-top: 1rem;
    }
    button {
      margin-top: 20px;
      width: 184px;
      opacity: 0;
      transition: all 0.2s;
    }
  }
}
.second.secondActive {
  width: 75%;

  .secondContent {
    margin-bottom: -1rem;
  }

  button {
    opacity: 1;
  }
}
.third {
  height: 100%;
  width: 50%;
  overflow: hidden;
  transition: all 0.5s;
  position: relative;
  background-color: #353535;

  .innerThird {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 0;

    .thirdContent {
      margin-right: 2rem;
      transition: all 0.5s;
      margin-bottom: -5.5rem;
    }
    h2 {
      font-size: 1.8rem;
      font-weight: 300;
      line-height: 40px;
      width: 156px;
      color: white;
    }

    p {
      width: 176px;
    }
    img {
      margin-top: 1.8rem;
      margin-right: 1rem;
      transform: scaleX(-1);
    }
    button {
      margin-top: 20px;
      width: 184px;
      opacity: 0;
      transition: all 0.2s;
      border-color: white;
      color: white;

      &:hover {
        background: white;
        color: black;
      }
    }
  }
}
.third.thirdActive {
  width: 75%;

  .thirdContent {
    margin-bottom: -4rem;
  }
  button {
    opacity: 1;
  }
}

@media (max-width: 1000px) {
  .container {
    min-height: 600px;
    height: 100%;
    flex-direction: column;
  }
  .innerContainer {
    flex-direction: column;
    width: 100%;
  }
  .leftBox {
    width: 100%;
  }
  .fourth {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .innerFourth {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 5rem;

      .fourthContent {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      img {
        width: 375px;
        height: 227px;
        margin-top: 0;
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0.5em;
      }
      p {
        margin-top: 0.2rem;
        width: 100%;
        text-align: center;
      }
      button {
        max-width: 310px;
        width: 100%;
        opacity: 1;
      }
    }
  }
  .first {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .innerFirst {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;

      .firstContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      img {
        width: 384px;
        height: 354px;
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0.5em;
      }
      p {
        margin-top: 0.2rem;
        width: 100%;
        text-align: center;
      }
      button {
        max-width: 310px;
        width: 100%;
        opacity: 1;
      }
    }
  }
  .secondThirdBox {
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    justify-content: center;
  }
  .second {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .innerSecond {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 6rem;

      .secondContent {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        margin-right: 0;
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0.5em;
      }
      p {
        margin-top: 0.2rem;
        width: 100%;
        text-align: center;
      }
      button {
        max-width: 310px;
        width: 100%;
        opacity: 1;
      }
    }
  }
  .third {
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .innerThird {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 8rem;

      .thirdContent {
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      img {
        margin-right: 0;
      }
      h2 {
        width: 100%;
        text-align: center;
        font-size: 2.2rem;
        margin-top: 0.5em;
      }
      p {
        margin-top: 0.2rem;
        width: 100%;
        text-align: center;
      }
      button {
        max-width: 310px;
        width: 100%;
        opacity: 1;
      }
    }
  }
}
