.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4.5em 1em 1.5em 1em;
  text-align: center;
}

.imageWrapper {
  position: relative;
  display: block;
  width: 59.701492537%;
  padding-bottom: 59.701492537%;
  margin-bottom: 1em;
}

img.image {
}

.title {
  font-weight: 500;
}

.price {
  margin-top: 1em;
}

.addToCartButton {
  margin-top: 1.5em;
}

.quantityInCart {
  margin-top: 0.5em;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 0.9375em;

  &Button {
    color: inherit;
    color: rgba(0, 0, 0, 0.8);
    font-weight: 500;
    font-size: inherit;
    padding-top: 0.4em;
    padding-bottom: 0.4em;

    &:hover,
    &:focus-visible {
      color: rgba(0, 0, 0, 1);
      text-decoration: underline;
    }
  }
}

.wishlistButton {
  position: absolute;
  top: 1em;
  right: 0.5em;
  color: #909090;
  padding: 0.5em;
  transition: color 125ms;

  &:hover,
  &:focus-visible {
    color: #000;
  }

  &.active {
    color: #ff0000;
  }
}
