.container {
  position: relative;
  display: inline-block;
}

.select {
  font-family: inherit;
  border-radius: 0.5em;
  padding: 0.75em 3em 0.75em 1em;
  font-size: 1em;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  transition: border-color 125ms;
  cursor: pointer;
  appearance: none;
  width: 100%;
  height: 100%;

  &:hover {
    border-color: rgba(0, 0, 0, 0.4);
  }

  &:focus-visible {
    border-color: rgba(0, 0, 0, 0.8);
  }
}

.arrowIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%) rotate(90deg);
  pointer-events: none;
}
