.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.contentWrapper {
  display: flex;
  max-width: 1120px;
  width: 100%;
  justify-content: space-between;
}
