.container {
  background-color: #ededed;
}

.content {
  display: grid;
  grid-template-areas:
  'box-1 box-1 box-4 box-4'
  'box-2 box-3 box-4 box-4';
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.206fr 1fr;
  height: 42vw;
  max-height: 600px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;

  & img {
    max-height: 100%;
  }
}

.boxOne {
  grid-area: box-1;
  background-color: #fff;
  padding-right: 3em;

  &Image {
    height: 100%;
    width: 300px;
    object-fit: cover;
    object-position: left;
  }

  &Heading {
    font-size: 3.0625em;
    font-weight: 500;
    margin-bottom: 0.2em;
  }
}
.boxTwo {
  grid-area: box-2;
  background-color: #ededed;

  &TextWrapper {
    padding-left: 3em;
    padding-right: 2em;
  }

  &Heading {
    font-size: 1.8125em;
    margin-bottom: 0.5em;
    font-weight: 300;
  }
}
.boxThree {
  grid-area: box-3;
  background-color: #353535;

  &TextWrapper {
    padding-right: 2.2em;
    padding-left: 1em;
  }

  &Heading {
    font-size: 1.8125em;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    font-weight: 300;
    color: #fff;
  }
}
.boxFour {
  grid-area: box-4;
  background-color: #ededed;
  padding-left: 3.5em;

  &TextWrapper {
  }

  &Heading {
    font-size: 4em;
    font-weight: 300;
    width: 107%;
  }

  &Paragraph {
    margin-bottom: 1.142857143em;
    width: 107%;
  }
}
