.header {
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contentWrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: block;
  margin-right: 63px;
}

.searchbar {
  width: 372px;
  height: 63.64%;
}

.lastGroup {
  display: flex;

  &Item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;

    &:not(:last-child) {
      margin-right: 13px;
    }
  }
}
