.footer {
  width: 100%;
  min-height: 504px;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;

  .contentWrapper {
    display: flex;
    flex-direction: column;
  }
  .innerContent {
    display: flex;
    justify-content: space-between;
  }

  .firstContainer {
    display: flex;
    flex-direction: column;

    img {
      margin-bottom: 24px;
    }

    p {
      max-width: 384px;
      color: #cfcfcf;
      font-size: 14px;
      line-height: 24px;
    }
  }

  .secondContainer,
  .thirdContainer {
    display: flex;
    flex-direction: column;

    h4 {
      font-weight: 600;
      font-size: 16px;
      line-height: 16px;
      color: white;
    }

    li {
      font-weight: 400;
      font-size: 14px;
      color: #cfcfcf;
      line-height: 32px;
      margin-top: 10px;
      list-style: none;
      position: relative;
      cursor: pointer;
    }
    li::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0; /* Start with no width */
      height: 2px;
      background-color: #cfcfcf;
      transition: width 0.7s ease; /* Transition width property */
    }

    li:hover::after {
      width: 100%; /* Grow to full width on hover */
    }
  }
  .iconWrapper {
    margin-top: 24px;
    width: fit-content;
    display: flex;

    svg {
      color: white;
      margin-right: 36px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

// responsive design

@media (max-width: 1200px) {
  .footer {
    .contentWrapper {
      padding: 0 1.5rem;
    }
  }
}

@media (max-width: 900px) {
  .footer {
    background-color: #181313;
    .contentWrapper {
      padding: 0 3rem;
    }
    .innerContent {
      flex-wrap: wrap;
    }
    .firstContainer {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 501px) {
  .footer {
    .contentWrapper {
      padding: 2rem;
    }
    .innerContent {
      flex-direction: column;
    }
    .firstContainer {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .secondContainer {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 2rem;
    }
    .thirdContainer {
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-bottom: 2rem;
    }
    .iconWrapper {
      margin-left: auto;
      margin-right: auto;
      padding-left: 24px;

      svg {
        width: 24px;
        height: 24px;
        font-size: 24px;
      }
    }
  }
}
