.container {
  margin-bottom: 1rem;
  height: 0px;
  overflow: hidden;
  border-radius: 7px;
  transition: all 0.3s;
  opacity: 0;

  &.active {
    height: auto;
    opacity: 1;
    border: 1px solid black;
    margin-top: 2rem;
  }
}

.innerContainer {
  padding: 2rem;
}

.heading {
  font-weight: 500;
  font-size: 1.1em;
  margin-bottom: 2em;
}

.addressOptions {
  display: flex;
  align-items: center;

  h4 {
    font-size: 18px;
    font-weight: 400;
  }

  .optionBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;

    input {
      display: none;
    }
    span {
      padding: 0.5rem 1rem;
      border: 1px solid black;
      margin-left: 0.5rem;
      cursor: pointer;
      border-radius: 0.2rem;
      user-select: none;
      transition: 0.2s;
      font-size: 0.8rem;

      &:hover {
        background-color: rgb(61, 61, 61);
        color: white;
      }

      &.active {
        background-color: black;
        color: white;
      }
    }
  }
}

.second {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .secondInput {
    width: 48%;
  }
}
.third {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .thirdInput {
    width: 48%;
  }
}
.fourth {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .fourthInput {
    width: 48%;
  }
}
.fifth {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;

  .fifthInput {
    width: 48%;
  }
}
.submitButton {
  margin-top: 1rem;
}
