.creditCard {
  width: 337px;
  height: 190px;
  position: relative;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  user-select: none;

  .creditHolder {
    position: absolute;
    color: rgb(83, 82, 82);
    font-size: 15px;
    font-weight: 500;
    left: 1.5rem;
    top: 150px;

    &.active {
      color: white;
    }
  }

  .expireDate {
    position: absolute;
    font-size: 12px;
    top: 132px;
    left: 1.5rem;
    font-weight: 600;
    color: rgb(170, 168, 168);

    &.active {
      color: white;
    }
  }
  .cvv {
    position: absolute;
    font-size: 12px;
    top: 15px;
    right: 1.5rem;
    font-weight: 700;
    color: rgb(170, 168, 168);

    &.active {
      color: white;
    }
  }
}

.cardNumber {
  color: grey;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  left: 1.7rem;
  top: 100px;
  word-spacing: 10px;

  &Value {
    color: #fff;
  }

  &DefaultValue {
    color: rgba(255, 255, 255, 0.4);
  }
}
