.container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  input::placeholder {
    text-transform: none;
  }
}

.cardHolder{
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.cardNumber{
  margin-bottom: 1rem;
}
.inputHolder{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  input{
    width: 48%;
  }
}