.payment {
  margin-left: 1rem;
  // position: sticky;
  top: 100px;
  display: flex;
  flex-direction: column;
  max-width: 512px;
  width: 100%;
  min-height: 300px;
  height: fit-content;
}

.title {
  font-size: 1.25em;
  font-weight: 700;
  margin-bottom: 1.2em;
}
