.container {
  display: flex;
  width: 100%;
}

.productsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5em;
}

.totalProducts {
  font-weight: 500;
  color: #6c6c6c;

  &Number {
    color: #000;
    font-size: 1.25em;
  }
}

.products {
  width: 100%;
  margin-left: 2em;
}
